/* Base Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0c0c0c;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    color: #e2b8aa;
  }

  .project {
    width: 30%;
    margin: 1.5%;
    background-color: #0c0c0c;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.75rem;
    border:1px solid #c22085;
    color: #fff;
    position: relative;
    z-index: 1;
  }

  .project::before{
    content: '';
    background: linear-gradient(
        to top,
        transparent,
        #c22085
    );
    position: absolute;
    height: 0%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .project:hover::before{
    transition: height 600ms ease ;
    height: 100%;
  }

  .project-section{
    min-height: 70vh;
  }

  .img-container{
    height: 15rem;
    width: 95%;
    display: flex;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .project h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }
  
  .project p {
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }
  
  .project a {
    display: inline-block;
    background-color: #333;
    color: #c22085;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, pink, pink 50%, black 50%, black);
    background-position: 100%;
    background-size: 200% 100%;
    transition: background-position 0.5s;
  }
  
.project a:hover{
    color:#000000;
    background-position: 0%;
}
  footer{
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2b8aa;
  }

  h2::after {
    content: '';
    display: block;
    width: 3rem;
    height: 0.25rem;
    background-color: #333;
    margin-top: 1rem;
  }
  
  a::before {
    content: '\2192';
    margin-right: 0.25rem;
  }
  
  
  /* Media Queries */
  
  @media screen and (max-width: 48rem) {
    
    section {
      display: block;
    }
    
    .project {
      width: 90%;
      margin: 1rem;
    }
  }
  